<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        padding: 0;
        margin: 0;
      }
      .Container {
        background-color: #eee;
        width: 100%;
        min-height: 100%;
      }

      .ContainerVerso {
        background-color: #eee;
        width: 100%;
        height: 100vh;
      }

      .FundoVerso {
        background-image: url(https://dmanisio.sirv.com/Images/frente-logo-preserve.png);
        margin-top: 1000px;
        height: 100%;
        width: 100%;
        object-fit: contain;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
      }

      .FundoVerso h1 {
        font-size: 30px;
        padding-top: 40px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
      }

      .ConteudoProgramatico {
        column-count: 1;
        column-gap: 20px;
        margin-top: 40px;
        padding-left: 50px;
        height: 70%;
      }

      .FundoVerso li {
        font-family: "Calibri";
        font-size: 25px;
        padding: 10px 0px;
        font-weight: 300;
        width: 100%;
        list-style: decimal;
      }

      .ContainerCertificado {
        width: 100%;
        background-image: url(https://dmanisio.sirv.com/Images/frente-logo-preserve.png);
        min-height: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: cover;
      }

      .ContainerCertificado h1,
      p {
        text-align: center;
      }

      .ContainerCertificado h1 {
        font-size: 55px;
        padding-top: 120px;
        font-family: Arial, Helvetica, sans-serif;
      }

      .ContainerCertificado p {
        font-family: "Calibri";
        font-size: 20px;
      }

      .Padding {
        margin-top: 30px;
      }

      .Div1 {
        width: 80%;
        text-align: left;
        margin: auto;
        height: 160px;
        padding-top: 15px;
      }

      .ContainerCertificado div p {
        text-align: justify;
        font-size: 28px;
      }

      .ContainerCertificado div p span {
        border-bottom: 2px solid black;
      }

      .Margin {
        margin-top: 20px;
      }

      .ResponsavelTecnico {
        margin-left: 65px;
        width: 80%;
        margin-top: -20px;
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .ResponsavelTecnico img {
        margin-left: 75px;
      }

      .ResponsavelTecnico strong {
        font-family: "Calibri";
        font-weight: bold;
        font-size: 18px;
        display: flex;
        justify-content: center;
        border-top: 1px solid black;
        padding-top: 3px;
        width: 250px;
      }

      .ResponsavelTecnico h4 {
        font-family: "Calibri";
        font-size: 18px;
        font-weight: lighter;
        padding: 2px;
        display: flex;
        justify-content: center;
        padding-top: 3px;
      }

      .InstrutorAluno {
        margin: auto;
        width: 80%;
        padding-top: 125px;
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
      }

      .InstrutorAluno strong {
        font-family: "Calibri";
        font-weight: bold;
        font-size: 20px;
        display: flex;
        justify-content: center;
        border-top: 1px solid black;
        padding-top: 3px;
        width: 300px;
      }

      .InstrutorAluno img {
        position: absolute;
        z-index: 1;
        height: 100%; /* Definir a altura como 100% */
        object-fit: contain; /* Manter a proporção da imagem */
        right: -20px; /* Alinhar a imagem à esquerda */
        top: 10px;
      }

      .InstrutorAluno h4 {
        font-family: "Calibri";
        font-size: 18px;
        font-weight: lighter;
        padding: 2px;
        display: flex;
        justify-content: center;
        padding-top: 3px;
      }
    </style>
  </head>
  <body>
    <div class="Container">
      <% Data.forEach(function(element, index) { %>
      <div class="ContainerCertificado">
        <h1>CERTIFICADO</h1>
        <% if (element.CPF) { %>
          <p class="Padding">
            CPF: <%= element.CPF.replace(/^(\d{3})(\d{3})(\d{3})(\d{2})$/, "$1.$2.$3-$4") %>
          </p>
        <% } else { %>
          <p class="Padding">
            CPF:
          </p>
        <% } %>
        <div class="Div1">
          <p class="Margin">
            Certificamos que <span><%= element.NOME.toUpperCase() %></span> <%=
            element.TEXTO %>
          </p>
        </div>
        <p class="Margin">Empresa: <%= element.EMPRESA %></p>
        <p class="Margin"><%= element.LOCALIZACAO %></p>
         <p class="Margin"><%= element.ID %></p> 
        <div class="InstrutorAluno">
          <div>
            <strong
              ><%= element.NOME.replace(/\b\w/g, (match) => match.toUpperCase())
              %></strong
            >
            <h4>Aluno / Participante</h4>
          </div>
          <div>
            <% if (element.URL_FOTO_INSTRUTOR) { %>
            <img
              src="<%= element.URL_FOTO_INSTRUTOR %>"
              alt="Assinatura instrutor"
            />
            <% } %>
            <strong><%= element.NOME_INSTRUTOR %></strong>
            <h4><%= element.FORMACAO_INSTRUTOR %></h4>
            <h4><%= element.DADOS_INSTRUTOR %></h4>
          </div>
        </div>
      </div>
      <% }); %>
    </div>

    <div class="ContainerVerso">
      <div class="FundoVerso">
        <h1>Conteúdo Programático</h1>
        <div class="ConteudoProgramatico">
          <% conteudo_programatico.forEach(function(item) { %>
          <li><%= item %>;</li>
          <% }); %>
        </div>
        <div class="ResponsavelTecnico">
          <div>
            <img
              src="https://dmanisio.sirv.com/Images/assinatura-alexandre.png"
              alt="Assinatura "
            />
            <strong>Alexandre Andrade Coutinho</strong>
            <h4>Resp. Técnico Pela Capacitação</h4>
            <h4>CREA - 043632/D-ES</h4>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
