<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orçamento</title>
    <style>
      *{
        margin: 15px;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
      }
      
      h1{
        text-align: center;
        padding: 10px;
      }

      .Container{
        padding: 10px;
        margin-bottom: 10px;

      }

      

    </style>
  </head>
  <body>
    <main>
      <h1 >Orçamento Treinamento</h1>
      
      <hr>
      <div class="Container" >
        <h2>Preserve Soluções em Segurança</h2>
        <p>Empresa: Preserve Soluções em Segurança</p>
        <p>CNPJ: 19.669.846/0001-47</p>
        <p>Endereço: Avenida Doutor Jose Antonio Palmeira da Silva - 631</p>
        <p>Bairro: Três Barras</p>
        <p>CEP: 29907-023</p>
        <p>Município: Linhares</p>
        <p>Estado: Espiríto Santo</p>
        <hr>
      </div>
      <div class="Container" >
        <h2>Orçamento</h2>
        <p>Solicitante: <%= formValues.solicitante %></p>
        <p>Email: <%= formValues.email %></p>
        <p>Alunos(quantidade): <%= formValues.alunos %></p>
        <p>Horas: <%= formValues.horas %></p>
        <p>Curso: <%= curso %></p>
        <p>Observação: <%= formValues.observacao %></p>
        <% if (curso !== 'BRIGADA') { %>
        <p>Preço: R$ <%= total %></p>
        <hr>
        <% } %>
        <% if (curso === 'BRIGADA') { %>
          <p>Macacões: <%= formValues.macacoes %> </p>
          <p>Gasolina: <%= formValues.gasolina %> Litros </p>
          <p>Diesel(quantidade): <%= formValues.diesel %> Litros </p>
          <p>Extintores(quantidade): <%= formValues.extintores %> </p>
          <p>Preço: R$ <%= total %></p>
          <hr>
          <% } %>
      </div>
      <div>

      </div>
    </main>
    


  </body>
</html>